body {
  margin: 25px;
  background-color: rgb(255,255,255);
  font-family: tahoma, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  color: white;
}

/* Applies to all elements with <... class="someclass"> specified. */
.header { 
  color: white; 
  background-color: rgb(55,55,55);
  font-size: 15px;
}
